.main-nav {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.main-nav h1 {
  margin: auto;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
nav {
  display: block;
}
a {
  font-size: 25px;
}
.product-list main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 350px));
  padding: auto;
}
.product-list main h2 {
  font-size: 45px;
  margin-right: auto;
  grid-column: 1/-1;
}
.product-list section {
  display: flex;
  flex-direction: column;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.product-list section h3 {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-top: -15%;
  text-align: center;
}
.cate {
  font-size: 15px;
  color: darkgrey;
  margin-top: -5%;
  margin-left: 35%;
}
.price {
  font-size: 25px;
  margin-top: -5%;
}
.product a {
  font-size: 20px;
  color: darkgrey;
  margin-top: -7%;
  margin-left: 35%;
}
.product main {
  display: grid;
}
.product main .crumbs {
  grid-column: 1/-1;
}
.crumbs {
  list-style-type: none;
  display: flex;
}
.crumbs a {
  font-size: 20px;
  color: darkgray;
}
li {
  padding: 10px;
}
.item {
  display: grid;
  grid-template-columns: 45% 50%;
}
.item section {
  margin-left: 10%;
  margin-top: 30%;
}
.item h3 {
  text-align: center;
}
.cate1 {
  font-size: 15px;
  color: darkgrey;
  margin-top: -2%;
  text-align: center;
}
label {
  display: flex;
  justify-content: center;
}
button {
  margin-left: 65%;
}
dl {
  display: block;
  margin-top: 5%;
}
dt {
  font-size: 19px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
dd {
  text-align: center;
  font-style: oblique;
  margin-left: 0;
  margin-top: 1%;
  margin-bottom: 2%;
}
.category div {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  text-align: center;
}
.letter ol {
  list-style-type: none;
  display: flex;
}
.letter a {
  color: darkgrey;
}
.group-letter h2 {
  margin-left: -15%;
}
.group-letter ol {
  list-style-type: none;
  display: flex;
}
.group-letter li {
  list-style: none;
}
